.form-controla{
 
}
html {
  scroll-behavior: smooth;
}

element{
  outline-color: whitesmoke;
}
div .bg{
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}

div .g{
  bottom: 10px;
  margin-left: 66%;
  width: 30%;
}
div .a{
  overflow-x: hidden;
}
div .bb{
  position: relative;
  height: 70vh;
  overflow-y: scroll;
  
}

.shadow-sm:hover{
  shadow-sm: 0 20px 40px rgba(72,78,85,.6);
  transform: translateY(-1px);
}

.card {
  transition: all .2s ease-out;
}
.card:hover {
  filter:drop-shadow(1px 1px 5px rgba(0, 69, 134, 0.4));
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  left: 50px;
  display: none;
  filter: drop-shadow(0 0 0.12rem #111810);
  
}

