#templates{
  width: 30%;
  overflow-y: auto;
  max-height: 75%;
}

.nav-link{
  color: black;
}

#templates .active{
  background-color: transparent;
  color: black;
}

.st{
  max-width: 85%;  
}

.form-controla{
  outline-color: #EFEFF6;
  cursor: text;
}

html {
  scroll-behavior: smooth;
}

div .bg{
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
}

div .g{
  bottom: 10px;
  margin-left: 66%;
  width: 30%;
}

div .a{
  overflow-x: hidden;
}

div .bb{
  position: relative;
  height: 70vh;
  overflow-y: scroll;
}

.shadow-sm:hover{
  transform: translateY(-1px);
}

#button-addon2{
  background-color: black;
  color: whitesmoke;
}

#button-addon2:hover{
  color:black;
  background-color: #FFD300;
}

.card {
  transition: all .2s ease-out;
}

.card:hover {
  filter:drop-shadow(1px 1px 5px rgba(0, 69, 134, 0.4));
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
}
